*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./mario-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.game-board{
    background-image: url("./soil.png");
    height: 540px;
    width: 540px;
    border:2px solid black;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.box{
    background-image: url("./pipe.png");
    background-repeat: no-repeat;
    background-size: 180px 180px;
}

  
